﻿<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="~/static/expense-tracker-icon.svg">
    <title>@ViewData["Title"] | Expense Tracker</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="~/dist/css/tabler.min.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/css/tabler-flags.min.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/css/tabler-payments.min.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/css/tabler-vendors.min.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/dist/css/demo.min.css" asp-append-version="true"/> *@
    
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" asp-append-version="true">

    @await RenderSectionAsync("Styles", required: false).ConfigureAwait(true)
  </head>
  <body class="antialiased">
    <div class="wrapper">

	    <!--Header-->
	    @await Html.PartialAsync("_Header").ConfigureAwait(true)

	    <!--Navigation-->
	    @await Html.PartialAsync("_Navigation").ConfigureAwait(true)

	    <div class="page-wrapper">
        <div class="container-xl">
          
          @await RenderSectionAsync("PageTitle").ConfigureAwait(true)
          <!-- Page title -->
          
          <div class="page-body">
            @RenderBody()
          </div>
        </div>
		    @await Html.PartialAsync("_Footer").ConfigureAwait(true)
	    </div>
    </div>
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New report</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="example-text-input" placeholder="Your report name">
            </div>
            <label class="form-label">Report type</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input type="radio" name="report-type" value="1" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Simple</span>
                      <span class="d-block text-muted">Provide only basic data needed for the report</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input type="radio" name="report-type" value="1" class="form-selectgroup-input">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Advanced</span>
                      <span class="d-block text-muted">Insert charts and additional advanced analyses to be inserted in the report</span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="mb-3">
                  <label class="form-label">Report url</label>
                  <div class="input-group input-group-flat">
                    <span class="input-group-text">
                      https://tabler.io/reports/
                    </span>
                    <input type="text" class="form-control ps-0"  value="report-01" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">Visibility</label>
                  <select class="form-select">
                    <option value="1" selected>Private</option>
                    <option value="2">Public</option>
                    <option value="3">Hidden</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Client name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Reporting period</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label class="form-label">Additional information</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Create new report
            </a>
          </div>
        </div>
      </div>
    </div>
  <!-- Libs JS -->
  <script src="~/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
  <script src="~/dist/libs/jquery/dist/jquery.slim.min.js" asp-append-version="true"></script>
  <script src="~/dist/libs/apexcharts/dist/apexcharts.min.js" asp-append-version="true"></script>
  <script src="~/dist/libs/choices.js/public/assets/scripts/choices.js" asp-append-version="true"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="~/dist/js/tabler.min.js" asp-append-version="true"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js" asp-append-version="true"></script>
  
  <script src="~/js/Helper/NotifyHelper.js" asp-append-version="true"></script>
  @await Component.InvokeAsync("Notify").ConfigureAwait(true)
  <script src="~/js/app.js" asp-append-version="true"></script>
  <!--    Section Scripts-->
  @await RenderSectionAsync("Scripts", required: false).ConfigureAwait(true)
  
  @await RenderSectionAsync("_ValidationScriptsPartial",false)

  </body>
</html>