@using ExpenseTracker.Core.Entities
@using ExpenseTracker.Infrastructure.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var CurrentUser = ViewBag.__CurrentUser as User;
    var workspaces = CurrentUser.Workspaces;

    var workspaceToken = session.GetDefaultWorkspace();
    var DefaultWorkspace = workspaces.SingleOrDefault(a => a.Token == workspaceToken) ?? CurrentUser.DefaultWorkspace;
    var redirectUrl = HttpContextAccessor.HttpContext.Request.Path;
}

<div class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn" href="#navbar-base" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 4 4 8 12 12 20 8 12 4"/><polyline points="4 12 12 16 20 12"/><polyline points="4 16 12 20 20 16"/>
                </svg>
            </span>
            <span class="nav-link-title">
                @DefaultWorkspace.WorkSpaceName
            </span>
        </a>
        <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">

                    @foreach (var workspace in workspaces)
                    {
                        @if (workspace.IsDefault)
                        {
                            <a class="dropdown-item active" href="#">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 4 4 8 12 12 20 8 12 4"/><polyline points="4 12 12 16 20 12"/><polyline points="4 16 12 20 20 16"/>
                                    </svg>
                                </span> @workspace.WorkSpaceName
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-action="ChangeDefault" asp-controller="Workspace" asp-route-workspaceToken="@workspace.Token" asp-route-redirectUrl="@Context.Request.Path">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 4 4 8 12 12 20 8 12 4"/><polyline points="4 12 12 16 20 12"/><polyline points="4 16 12 20 20 16"/>
                                    </svg>
                                </span> @workspace.WorkSpaceName
                            </a>
                        }
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Create" asp-controller="Workspace">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </span>
                        </span>
                        Add Workspace
                    </a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Workspace">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path><circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </span>
                        </span>
                        Manage Workspace
                    </a>
                </div>
            </div>
        </div>
    </li>
</div>