@using ExpenseTracker.Core.Entities
@model ExpenseTracker.Web.ViewModels.Workspace.WorkspaceIndexViewModel

@{
    ViewBag.Title = "Workspace";
    Layout = "_Layout";
}

@section PageTitle
{
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Manage
                </div>
                <h2 class="page-title">
                    @ViewData["Title"]
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a asp-action="Create" asp-controller="TransactionCategory" class="btn btn-primary d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/>
                        </svg>
                        Create New
                    </a>
                    <a asp-action="Create" asp-controller="TransactionCategory" class="btn btn-primary d-sm-none d-sm-inline-block btn-icon" aria-label="Create new Transaction Category">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

 <div class="row row-cards">
     <div class="col-12">
         <div class="card">
             <div class="table-responsive">
                 @if (Model.Workspaces.Any())
                 {
                     <table class="table card-table table-vcenter text-nowrap">

                         <thead>
                         <tr>
                             <th class="w-2">No.</th>
                             <th>Workspace Name</th>
                             <th>Token</th>
                             <th>Type</th>
                             <th>Action</th>
                         </tr>
                         </thead>
                         <tbody>


                         @foreach (var item in Model.Workspaces)
                         {
                             <tr>
                                 <td>
                                     <span class="text-muted">@item.WorkspaceId.ToString("D3")</span>
                                 </td>
                                 <td>
                                     <span class="avatar avatar-xs" style="background-color: @item.Color" ></span>
                                     <span class="text-muted">@item.WorkSpaceName</span>
                                 </td>
                                 <td>
                                     <span class="text-muted">@item.Token</span>
                                 </td>
                                 <td>
                                     @if (item.WorkspaceType == Workspace.TypeNormalWorkspace)
                                     {
                                         <span class="badge bg-gray">
                                             @Workspace.TypeNormalWorkspace
                                         </span>
                                     }
                                     else if (item.WorkspaceType == Workspace.TypeDefaultWorkspace)
                                     {
                                         <span class="badge bg-green">
                                             @Workspace.TypeDefaultWorkspace
                                         </span>
                                     }
                                 </td>
                                 <td>
                                     <a asp-action="ChangeDefault" asp-controller="Workspace" asp-route-workspaceToken="@item.Token" asp-route-redirectUrl="/Workspace" class="btn bth-default
                                     @if(item.IsDefault){ <text> disabled</text> }">
                                         <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                                             <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 4 4 8 12 12 20 8 12 4"/><polyline points="4 12 12 16 20 12"/><polyline points="4 16 12 20 20 16"/>
                                                                             </svg>
                                                                         </span> Switch to workspace
                                     </a>
                                 </td>
                             </tr>
                         }

                         </tbody>
                     </table>
                 }
                 else
                 {
                     <div class="empty">
                         <div class="empty-img">
                             <img src="./static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
                         </div>
                         <p class="empty-title">Transactions Not Found.</p>
                         <p class="empty-subtitle text-muted">
                             Try adjusting your search or filter to find what you're looking for.
                         </p>
                         <div class="empty-action">
                             <a asp-action="Create" asp-controller="Transaction" class="btn btn-primary">
                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                                 </svg>
                                 Create New
                             </a>
                         </div>
                     </div>
                 }
             </div>
         </div>
     </div>
 </div>

